fastapi
uvicorn
pydantic
pydantic[email]
sqlalchemy
passlib[bcrypt]
PyJWT
email-validator
python-dotenv
jinja2
fastapi-mail
langchain
langchain-openai
langgraph
chromadb
sentence-transformers
tiktoken
openai
pandas
openpyxl
pypdf
pysentimiento
transformers
torch