fastapi
uvicorn[standard]
gunicorn
pydantic
pydantic[email]
psycopg2-binary
sqlalchemy
passlib[bcrypt]
PyJWT
email-validator
python-dotenv
jinja2
fastapi-mail
langchain
langchain-openai
langgraph
chromadb
sentence-transformers
tiktoken
openai
pandas
openpyxl
pypdf
pysentimiento
transformers
torch==2.1.0+cpu -f https://download.pytorch.org/whl/torch_stable.html